body {
  background-color: #e1e7d3;
}
.wrap {
  width: 255px;
  height: 510px;
  display:block;
  position: relative;
  margin: 0 auto;
  margin-top: 2%;
}

.base {
  background-color: #a4978e;
  position: absolute;
}

.trim {
  position: absolute;
  background-color: #e1e7d3;
  z-index: 100;
}

.head {
  top: 59px;
  width: 126px;
  height: 75px;
  margin-left: -63px;	left: 50%;
  -webkit-border-radius: 100px / 60px;
  -moz-border-radius: 100px / 60px;
  border-radius: 100px / 60px;
  z-index: 1;
}

.body {
  top: 172px;
  width: 220px;
  height: 225px;
  margin-left: -110px; left: 50%;
  -webkit-border-radius: 110px;
  -moz-border-radius: 110px;
  border-radius: 110px;
  z-index: 1;
}
.bodyfillvert {
  top: 107px;
  width: 130px;
  height: 56px;
  margin-left: -65px;	left: 50%;
  z-index: 2;

}
.bodyfillhoriz {
  top: 163px;
  width: 194px;
  height:63px;
  margin-left: -97px;	left: 50%;
  z-index: 2;
}

.forearm {
  top:192px;
  width:38px;
  height: 104px;
  -webkit-border-radius: 40px / 100px;
  -moz-border-radius: 40px / 100px;
  border-radius: 40px / 100px;
  z-index: 3;
}
.left {left: 0;}
.right {right: 0;}

.arm {
  top:83px;
  width: 35px;
  height: 131px;
  z-index: 4;
}
.rotateleft {
  left: 37px;
  -webkit-transform: rotate(27deg);
  -moz-transform:    rotate(27deg);
  -ms-transform:     rotate(27deg);
  -o-transform:      rotate(27deg);
  transform:         rotate(27deg);
}
.rotateright {
  right: 36px;
  -webkit-transform: rotate(333deg);
  -moz-transform:    rotate(333deg);
  -ms-transform:     rotate(333deg);
  -o-transform:      rotate(333deg);
  transform:         rotate(333deg);
}

.earstemleft {
  top: 55px;
  left: 80px;
  width: 9px;
  height: 25px;
  z-index: 4;
  -webkit-transform: rotate(348deg);
  -moz-transform:    rotate(348deg);
  -ms-transform:     rotate(348deg);
  -o-transform:      rotate(348deg);
  transform:         rotate(348deg);
}

.earstemright {
  top: 50px;
  right: 86px;
  width: 9px;
  height: 25px;
  z-index: 4;
  -webkit-transform: rotate(5deg);
  -moz-transform:    rotate(5deg);
  -ms-transform:     rotate(5deg);
  -o-transform:      rotate(5deg);
  transform:         rotate(5deg);
}


.ear-left {
  width: 0; height: 0;
  border: 15px solid transparent;
  border-bottom: 41px solid #a4978e;
  position: relative;
  left: 61px;	top: -4px;
  -webkit-transform: rotate(350deg);
  -moz-transform:    rotate(350deg);
  -ms-transform:     rotate(350deg);
  -o-transform:      rotate(350deg);
  transform:         rotate(350deg);
  z-index: 5;
}

.ear-left:after {
  content: '';
  position: absolute;
  left: -16px; top: 39px;
  width: 0;height: 0;
  border: 15px solid transparent;
  border-top: 10px solid #a4978e;
}

.ear-right {
  width: 0; height: 0;
  border: 15px solid transparent;
  border-bottom: 41px solid #a4978e;
  position: relative;
  right: -152px;	top: -64px;
  -webkit-transform: rotate(3deg);
  -moz-transform:    rotate(3deg);
  -ms-transform:     rotate(3deg);
  -o-transform:      rotate(3deg);
  transform: rotate(3deg);
  z-index: 5;
}

.ear-right:after {
  content: '';
  position: absolute;
  right: -14px; top: 39px;
  width: 0;height: 0;
  border: 15px solid transparent;
  border-top: 10px solid #a4978e;
}

.eye {
  top: 95px;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  z-index: 6;
  position: absolute;
  background-color: #fcfcfc;
}

.eyeleft {
  left: 73px;
}
.eyeright {
  right: 74px;
  top: 94px;
}
.nose {
  top: 106px;
  width: 30px;
  height: 10px;
  margin-left: -15px;	left: 50%;
  -webkit-border-radius: 20px / 7px;
  -moz-border-radius: 20px / 7px;
  border-radius: 20px / 7px;
  z-index: 6;
  position: absolute;
  background-color: #5f5852;
}

.bellybacker {
  top: 157px;
  width: 200px;
  height: 214px;
  margin-left: -100px;	left: 50%;
  -webkit-border-radius: 100px / 107px;
  -moz-border-radius: 100px / 107px;
  border-radius: 100px / 107px;
  z-index: 6;
  position: absolute;
  background-color: #efdccb;
}

.pupil {
  width: 9px;
  height:9px;
  top: 103px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  position: absolute;
  background-color: #5a534e;
  z-index: 7;
}

.pupilleft {
  left: 80px;
}

.pupilright {
  right: 82px;
  top:102px;
}

.marking {
  position: absolute;
  width: 30px;
  height: 14px;
  -webkit-border-radius: 100px / 50px;
  -moz-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  background-color: #89775a;
  z-index: 7;
}
.marking:after {
  content: '';
  position: absolute;
  top: 4px; left: -7px;
  width: 44px;
  height: 30px;
  -webkit-border-radius: 100px / 80px;
  -moz-border-radius: 100px / 80px;
  border-radius: 100px / 80px;
  background-color: #efdccb;
}

.mark1 {
  top: 185px;
  left: 73px;
  -webkit-transform: rotate(350deg);
  -moz-transform:    rotate(350deg);
  -ms-transform:     rotate(350deg);
  -o-transform:      rotate(350deg);
  transform: rotate(350deg);
}

.mark2 {
  top: 180px;
  left: 113px;
}

.mark3 {
  top: 185px;
  left: 153px;
  -webkit-transform: rotate(8deg);
  -moz-transform:    rotate(8deg);
  -ms-transform:     rotate(8deg);
  -o-transform:      rotate(8deg);
  transform: rotate(8deg);
}

.mark4 {
  top: 215px;
  left: 51px;
  -webkit-transform: rotate(345deg);
  -moz-transform:    rotate(345deg);
  -ms-transform:     rotate(345deg);
  -o-transform:      rotate(345deg);
  transform: rotate(345deg);
}

.mark5 {
  top: 209px;
  left: 91px;
}

.mark6 {
  top: 209px;
  left: 131px;
}

.mark7 {
  top: 215px;
  left: 171px;
  -webkit-transform: rotate(9deg);
  -moz-transform:    rotate(9deg);
  -ms-transform:     rotate(9deg);
  -o-transform:      rotate(9deg);
  transform: rotate(9deg);
}



.flatfeet {
  top: 381px;
  width: 124px;
  height: 20px;
  margin-left: -62px;	left: 50%;
}

.splitfeet {
  top: 378px;
  width: 8px;
  height: 18px;
  margin-left: -4px;	left: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform: rotate(45deg);
}

.katakana {
  position: relative;
  width:255px;
  height: 80px;
  top: 310px;
}

.to {
  position: absolute;
  display:block;
  width: 18px;
  height: 66px;
  -webkit-border-radius: 11px 11px 11px 11px / 13px 13px 9px 9px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}
.char1, .char2, .ro {
  background-color: #5f5852;
  -webkit-transform: skewX(355deg);
  -moz-transform:    skewX(355deg);
  -ms-transform:     skewX(355deg);
  -o-transform:      skewX(355deg);
  transform: skewX(355deg);
}
.char1 {
  top: 0px;
  left: 70px;
}
.char2 {
  top: 0px;
  left: 110px;
}
.stroke2 {
  -webkit-transform: rotate(90deg);
  -moz-transform:    rotate(90deg);
  -ms-transform:     rotate(90deg);
  -o-transform:      rotate(90deg);
  transform: rotate(90deg);
  height: 33px;
  margin: 22px 0 0 9px;
}

.ro {
  top: 21px;
  left: 150px;
  width: 43px;
  height: 43px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -khtml-border-radius: 12px;
  position: absolute;
  z-index: 1;
}
.rocut {
  top: 34px;
  left: 161px;
  width: 22px;
  height: 17px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  position: absolute;
  background-color: #e1e7d3;
  -webkit-transform: skewX(350deg);
  -moz-transform:    skewX(350deg);
  -ms-transform:     skewX(350deg);
  -o-transform:      skewX(350deg);
  transform: skewX(350deg);
  z-index: 2;
}

p, a:link, a:visited {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: red;
  text-align: center;
  text-decoration: none;
  font-size:12px;
  text-shadow: 1px 1px 1px #f9fcf2;

}
a:hover {
  color: #5f5852;
}
